/handwrittendigit/env/
/handwrittendigit/.logs
/housepriceprediction/env/
/irisflowerclassification/env/
/diabetesprediction/env/
/mushroomclassifier/env/
/recommender.ipynb
/diamondpriceprediction/env/
/nycpropertyprediction/env/
/practice/env/
/toxiccommentclassification/env/